# Pyber Challenge

### 4.3 Loading and Reading CSV files

In [2]:
# Add Matplotlib inline magic command
%matplotlib inline
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd

# File to Load (Remember to change these)
city_data_to_load = "Resources/city_data.csv"
ride_data_to_load = "Resources/ride_data.csv"

# Read the City and Ride Data
city_data_df = pd.read_csv(city_data_to_load)
ride_data_df = pd.read_csv(ride_data_to_load)

### Merge the DataFrames

In [4]:
# Combine the data into a single dataset
pyber_data_df = pd.merge(ride_data_df, city_data_df, how="left", on=["city", "city"])

# Display the data table for preview
pyber_data_df

,city,date,fare,ride_id,driver_count,type
0,Lake Jonathanshire,2019-01-14 10:14:22,13.83,5739410935873,5,Urban
1,South Michelleport,2019-03-04 18:24:09,30.24,2343912425577,72,Urban
2,Port Samanthamouth,2019-02-24 04:29:00,33.44,2005065760003,57,Urban
3,Rodneyfort,2019-02-10 23:22:03,23.44,5149245426178,34,Urban
4,South Jack,2019-03-06 04:28:35,34.58,3908451377344,46,Urban
...,...,...,...,...,...,...
2370,Michaelberg,2019-04-29 17:04:39,13.38,8550365057598,6,Rural
2371,Lake Latoyabury,2019-01-30 00:05:47,20.76,9018727594352,2,Rural
2372,North Jaime,2019-02-10 21:03:50,11.11,2781339863778,1,Rural
2373,West Heather,2019-05-07 19:22:15,44.94,4256853490277,4,Rural
2374,Newtonview,2019-04-25 10:20:13,55.84,9990581345298,1,Rural

## Deliverable 1: Get a Summary DataFrame

In [21]:
#  1. Get the total rides for each city type
total_rides_df = pd.DataFrame(pyber_data_df.groupby(["type"]).count()["city"]).rename({"city": "total_rides"},axis=1)
total_rides_df

          total_rides
type
Rural             125
Suburban          625
Urban            1625

In [22]:
# 2. Get the total drivers for each city type
total_drivers_df = pd.DataFrame(pyber_data_df.groupby(["type"]).sum()["driver_count"])
total_drivers_df

          driver_count
type
Rural              537
Suburban          8570
Urban            59602

In [23]:
#  3. Get the total amount of fares for each city type
total_fares_df = pd.DataFrame(pyber_data_df.groupby(["type"]).sum()["fare"])
total_fares_df

              fare
type
Rural      4327.93
Suburban  19356.33
Urban     39854.38

In [32]:
#  4. Get the average fare per ride for each city type. 
average_fares_df = pd.DataFrame(total_fares_df["fare"] / total_rides_df["total_rides"]).rename({0: "average_fare_per_ride"},axis=1)
average_fares_df

          average_fare_per_ride
type
Rural                 34.623440
Suburban              30.970128
Urban                 24.525772

In [33]:
# 5. Get the average fare per driver for each city type. 
average_driver_fares_df = pd.DataFrame(total_fares_df["fare"] / total_drivers_df["driver_count"]).rename({0: "average_fare_per_driver"},axis=1)
average_driver_fares_df

          average_fare_per_driver
type
Rural                    8.059460
Suburban                 2.258615
Urban                    0.668675

In [36]:
#  6. Create a PyBer summary DataFrame. 
pyber_summary_df = pd.concat([total_rides_df, total_drivers_df, total_fares_df, average_fares_df, average_driver_fares_df], axis=1)
pyber_summary_df

,total_rides,driver_count,fare,average_fare_per_ride,average_fare_per_driver
type,,,,,
Rural,125,537,4327.93,34.623440,8.059460
Suburban,625,8570,19356.33,30.970128,2.258615
Urban,1625,59602,39854.38,24.525772,0.668675

In [38]:
#  7. Cleaning up the DataFrame. Delete the index name
pyber_summary_df.index.name = None
pyber_summary_df

,total_rides,driver_count,fare,average_fare_per_ride,average_fare_per_driver
Rural,125,537,4327.93,34.623440,8.059460
Suburban,625,8570,19356.33,30.970128,2.258615
Urban,1625,59602,39854.38,24.525772,0.668675

## Deliverable 2.  Create a multiple line plot that shows the total weekly of the fares for each type of city.

In [11]:
# 1. Read the merged DataFrame

In [12]:
# 2. Using groupby() to create a new DataFrame showing the sum of the fares 
#  for each date where the indices are the city type and date.

In [13]:
# 3. Reset the index on the DataFrame you created in #1. This is needed to use the 'pivot()' function.
# df = df.reset_index()

In [14]:
# 4. Create a pivot table with the 'date' as the index, the columns ='type', and values='fare' 
# to get the total fares for each type of city by the date.

In [15]:
# 5. Create a new DataFrame from the pivot table DataFrame using loc on the given dates, '2019-01-01':'2019-04-29'.

In [16]:
# 6. Set the "date" index to datetime datatype. This is necessary to use the resample() method in Step 8.
# df.index = pd.to_datetime(df.index)

In [17]:
# 7. Check that the datatype for the index is datetime using df.info()

In [18]:
# 8. Create a new DataFrame using the "resample()" function by week 'W' and get the sum of the fares for each week.

In [19]:
# 8. Using the object-oriented interface method, plot the resample DataFrame using the df.plot() function. 

# Import the style from Matplotlib.
from matplotlib import style
# Use the graph style fivethirtyeight.
style.use('fivethirtyeight')